
/*** Gradient Section ***/
.gradient {
    color: #333;
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 200%;
    background-position: 15%;

    transition: 
    background-size 1s ease-in-out,
    background-position 1s ease-in-out,
    color 0.8s 0.2s ease-out;
}

.gradient:hover {
    color: #F0CB35;  /* fallback for old browsers */
    background-position: 85%;   
}

/*** Forest Section ***/
.forest {
    padding: 0;
    color: white;
    height: 100%;
    max-height: 200px;
    background-image: url('https://images.unsplash.com/photo-1508138221679-760a23a2285b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=85740266a52ea733187e9775fdf8d2d5&auto=format&fit=crop&w=1400&q=60');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;

    transition: 
    background-size 1s ease-in-out,
    background-position 1s ease-in-out,
    color 0.8s 0.2s ease-out;
}
.overlay {
    padding: 2rem 10rem;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    opacity: 0;
    
    transition: 
    opacity 1s ease-in-out;
}

.forest:hover {
    background-size: 200%;
    background-position: 0% 50%;
}

.forest:hover .overlay{ 
    opacity: 1;    
}

.forest-text {
    line-height: 1.2rem;
    margin-top: 1rem;
}

/*light-cyan: #e0fffe;
offset: #007f7b
grey: #707f7f;*/

/*** Hover Buttons Section ***/

/* #1 */
#outline-btn {
    background-color: transparent;
    border: 1px solid #007F7B;
    overflow: hidden;
    transition: 
        color 0.4s ease-in-out,
        background-color 0.4s ease-in-out;
}

#outline-btn:hover {
    color: #e0fffe;
    background-color: #007F7B;
}

/* #2 */
#btm-right-corner {
    position: relative;
}
#btm-right-corner:hover {
    cursor: pointer;
}
#btm-right-corner::before {
    content: '';
    width:1px;
    height:0%;
    background-color: #007F7B;
    bottom: 0;
    right: 0;
    position: absolute;

    transition: 
        height 0.4s ease-out;
}
#btm-right-corner::after {
    content: '';
    width:0%;
    height:1px;
    background-color: #007F7B;
    bottom: 0;
    right: 0;
    position: absolute;

    transition: 
        width 0.4s ease-out;
}
#btm-right-corner:hover::before {
    height: 100%;
}
#btm-right-corner:hover::after {
    width:100%;
}

/* #3 */
#top-btm-lines {
    position: relative;
    transition: 
        letter-spacing 0.4s ease-in-out;
}

#top-btm-lines:hover {
    cursor: pointer;
    letter-spacing: 0.1rem;
}

#top-btm-lines::before {
    content: '';
    width: 0%;
    height:1px;
    background-color: #007F7B;
    top: 0;
    left: 0;
    position: absolute;

    transition: 
        width 0.4s ease-in-out;
}

#top-btm-lines::after {
    content: '';
    width: 0%;
    height:1px;
    background-color: #007F7B;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: 
        width 0.4s ease-in-out;
}

#top-btm-lines:hover::before, #top-btm-lines:hover::after {
    width: 100%;
}

/* #4 */
#corners {
    position: relative;

    transition: 
        height 0.4s ease-in-out,
        width 0.4s ease-in-out;
}

#corners::before {
    content: '';
    width: 20px;
    height:20px;
    background-color: transparent;
    border: 1px solid #007F7B;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: 0;
    right: 0;
    position: absolute;

    transition: 
        height 0.4s ease-in-out,
        width 0.4s ease-in-out;
}

#corners::after {
    content: '';
    width: 20px;
    height:20px;
    background-color: transparent;
    bottom: 0;
    left: 0;
    border: 1px solid #007F7B;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;

    transition: 
        height 0.4s ease-in-out,
        width 0.4s ease-in-out;
}

#corners:hover::before, #corners:hover::after {
    height: 115%;
    width: 115%;
}

/* #5 */
#inset-and-borders {
    border: 1px solid #007F7B;
    position: relative;
    transition: 
        box-shadow 0.4s ease-out;
}

#inset-and-borders:hover {
    box-shadow: inset 0 0 15px #007F7B;
}

#inset-and-borders::before {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute; 
    border: 1px solid #007F7B;

    transition: 
        transform 0.4s ease-out,
        border-color 0.4s ease-in;
}

#inset-and-borders:hover::before {
    border-color: transparent;
    transform: scale(1.2);
}

/* #6 */ 
#slide-bg { 
    border: 1px solid #007F7B;
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;

    transition: 
        color 0.1s ease-out;
}

#slide-bg::before { 
    content: '';
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #007F7B;
    z-index: -1;
    transition: 
        width 0.3s linear;
}

#slide-bg:hover::before {
    width: 100%;
}

#slide-bg:hover {
    color: #E0FFFE;
}


/* #6 */ 
#stripe-bg {
    border: 1px solid #007F7B;
    position: relative;
    overflow: hidden;
}

#stripe-bg::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    top: 0;
    left: -140%;
    z-index: -1;
    background: #007F7B;
    transform: rotate(45deg);

    transition: 
        left 0.3s ease-out,
        transform 0.3s ease;
}

#stripe-bg:hover::before {
    left:-15%; 
}

#stripe-bg:hover {
    color: #E0FFFE;
}



/* #7 */
#bubble-bg {
    border: 1px solid #007F7B;
    position: relative;
    overflow: hidden;
}

#bubble-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 200%;
    top: -110px;
    left: -100px;
    z-index: -1;
    background: #007F7B;
    transform: rotate(45deg);
    border-radius: 100%;

    transition: 
        transform 0.3s ease,
        height 0.3s ease,
        width 0.3s ease;
}

#bubble-bg:hover::before {
    transform: rotate(0deg);
    width: 200%;
    height: 400%;
}

#bubble-bg:hover {
    color: #E0FFFE;
}


/* #8 */

#double-doors{
    border: 1px solid #007F7B;
    position: relative;
    overflow: hidden;

    transition: 
        color 0.3s ease;
}

#double-doors::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0%;
    z-index: -1;
    background: #007F7B; 

    transition: 
        height 0.3s ease-in;
}

#double-doors::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0%;
    z-index: -1;
    background: #007F7B; 

    transition: 
        height 0.3s ease-in;
}

#double-doors:hover::before,
#double-doors:hover::after {
    height: 50%;
}


#double-doors:hover {
    color: #E0FFFE;
}

/* #9 */
#round-dem-corners{
    border: 1px solid #007F7B;
    transition: 
        border-radius 0.3s ease-in-out;
}

#round-dem-corners:hover {
    border-radius: 30px;
}