
.card {
    display: block;
}

.card-container {
    margin: 2rem auto;
    width: 309px; 
    height: auto;
}

.card-container img {
    width: 100%;
    height: 100%;
}

#scale {
    transition:
        transform 0.4s ease-in-out;
}

#scale:hover {
    transform: scale(1.2);
}

#rotate.card-container {
    overflow: hidden;
}

#rotate img {
    transition:
        transform 0.4s ease;
}

#rotate img:hover {
    transform:  scale(1.7) rotate(25deg); 
}

#zoom.card-container {
    overflow: hidden;
}

#zoom img {
    transform-origin: top left;
    transition:
        transform 0.4s ease;
}

#zoom img:hover {
    transform:  scale(1.4);
    /* start at top left */
}

#zoom-blur.card-container {
    overflow: hidden;
}
#zoom-blur img {
    transform-origin: 30% 50%;
    transition:
        filter 0.4s ease,
        transform 0.4s ease;
}

#zoom-blur img:hover {
    transform:  scale(2);
    filter: blur(5px);
}

#bw-rotate.card-container {
    overflow: hidden;
}

#bw-rotate img {
    transition: 
        filter 0.4s ease,
        transform 0.4s ease;
}
#bw-rotate img:hover{
    transform: scale(2.5) rotate(30deg);
    filter: grayscale(100%);
}
.skew-section {
    width: 80%;
    margin: 0 auto;
}
.skew-container {
    color: white;
}
.skew-container .even {
    transform: skewX(-10deg);
    background-color: #007F7B;
    border: 2px solid white;
} 
.skew-container p {
    padding: 1.5rem 1.5rem;
    font-size: 0.8rem;

}
.skew-container .even p {
    transform: skewX(10deg);
}
